/* Header container */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --black: #04121a;
    --dark-gray: #092635;
    --gray: #1B4242;
    --blue: #5C8374;
    --white: #9EC8B9;
}
html{
    font-family: 'Montserrat', sans-serif !important;
}

.retexBut {
    flex-shrink: 0;
    border: none;
    background-position: center center !important;
    background-size: cover !important;
    height: 18rem;
    width: 32rem;
}

.tag {
    font-family: 'Raleway', sans-serif;
    border-radius: 50vw;
    background-color: rgb(20, 20, 40);
    border: solid rgb(51, 51, 78) 0.3rem;
    padding: 0.5rem;
    font-size: x-large;
    color: white;
    height: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.tag img {
    height: 1.5rem;
    background-color: lightgray;
    color: black;
    border: solid gray 0.2rem;
    border-radius: 50vw;
    cursor: pointer;
    margin-left: 0.5rem;
}