/* Header container */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --black: #222831;
    --gray: #393E46;
    --blue: #00ADB5;
    --white: #EEEEEE;
}
html{
    overflow-x: hidden;
}
body {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


/* Title */

.title {
    color: var(--white);
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.title span {
    color: var(--blue);
}


/* Page links */

.links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.links a {
    text-decoration: none;
    color: var(--white);
}

.links .logo {
    height: 2rem;
}


/* Main */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 20rem;
}

#canvas{
    position: absolute;
    z-index: -1;
    width: 100vw; 
    height: 100vh; 
    display: block;
    top: 0;
    left: 50vw;
}

#line {
    left: 1px;
    margin-top: 2rem;
    position: absolute;
    transform: translateX(-2rem);
}
#line path{
    stroke: var(--blue); 
    stroke-width: 2;
    fill: none;
}
#line-top{
    margin-top: 2rem;
    position: absolute;
    content: "";
    left: 0;
    width: 0.2rem;
    height: 0.2rem;
    border: solid var(--blue) 2px;
    transform: translateX(-2rem) translateX(-35%) translateY(-100%)rotate(-45deg);
}

#projects {
    position: relative;
    font-size: larger;
}
#projects-netflix{
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
#projects-netflix #preview{
    display: flex;
    flex-direction: column;
}
#projects-netflix #preview img{
    flex-shrink: 0;
    border: none;
    background-position: center center !important;
    background-size: cover !important;
    height: 18rem;
    width: 32rem;
    padding: 0.2rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

#projects-netflix #content{
    position: relative;
    width: 100%;
}
#projects-netflix #content img{
    z-index: -1;
    top: 0;
    left: 0;
    position: absolute;
    flex-shrink: 0;
    border: none;
    background-position: center center !important;
    background-size: cover !important;
    object-fit: cover;    
    -webkit-mask-image: linear-gradient(0deg, transparent 0%, black 30%, black 70%, transparent 100%);
    mask-image: linear-gradient(0deg, transparent 0%, black 30%, black 70%, transparent 100%);
    width: 100%;
}