
:root {
    --gray: rgb(32, 31, 32);
}

html {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    color: white;
    height: 100%;
    width: 100%;
    background-color: var(--gray);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

header {
    z-index: 10;
    position: fixed;
    padding: 1rem;
    display: flex;
    gap: 0.7rem;
    width: -webkit-fill-available;
}

header>a:nth-child(4) {
    margin-left: auto;
    margin-right: 0;
}

header a,header p{
    margin: 0;
    justify-content: center;
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 3vh;
    font-weight: bold;
}

header>* {
    background-color: none;
    border: none;
}

.logo {
    height: 2rem;
}

#mouse_flow {
    z-index: -1;
    top: 0;
    left: 0;
    position: absolute;
}

main {
    height: 100%;
    z-index: 2;
    position: sticky;
    top: 0;
    padding-top: 10%;
    margin-bottom: 25rem;
}

#firstView {
    padding-inline: 20%;
    font-size: x-large;
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
}

@media (max-width: 1490px) {
    #firstView {
        padding-inline: 10% !important;
    }
}

@media (max-width: 1200px) {
    #firstView {
        display: flex;
        flex-direction: column;
    }
    #canvas_container {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
}

.retexBut {
    flex-shrink: 0;
    border: none;
    background-position: center center !important;
    background-size: cover !important;
    height: 18rem;
    width: 32rem;
}

#retexs {
    display: flex;
    gap: 1rem;
    position: absolute;
    padding-right: 1rem;
}

.retex {
    z-index: 6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: rgb(24, 24, 24);
    height: 80%;
    width: 80%;
    position: fixed;
    flex-direction: column;
    padding: 0.5rem;
}

.retex button {
    border: none;
    background-color: rgb(24, 24, 24);
    width: fit-content;
}

.retex button img {
    filter: invert(1);
    cursor: pointer;
}

.retex>div {
    display: grid;
    padding-inline: 1rem;
    flex-wrap: wrap;
}

@media (min-width: 800px) {
    .retex>div {
        grid-template-columns: repeat(2, 50%);
    }
}

.retex>div>div {
    display: flex;
    padding: 0.5rem;
    text-align: justify;
    flex-direction: column;
    flex-basis: calc(50%);
}

.retex>div>div img {
    width: 100%;
}

.retex>div p {
    font-size: larger;
}

#second_part {
    position: relative;
    z-index: 5;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--gray);
}

#second_part>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

#second_part #competitions img {
    height: 5rem;
}

#second_part #hobbies img {
    height: 15rem;
}

#second_part #hobbies>div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    justify-content: center;
}

@keyframes changewidth {
    from {
        transform: translateX(10px);
    }
    to {
        transform: translateX(-10px);
    }
}

#swipe {
    animation-duration: 0.7s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#swipe {
    margin: 0.2rem;
    margin-right: 1rem;
    justify-content: flex-end;
    display: flex;
    align-items: flex-end;
}